.worst {
    color: red;
    font-weight: bold
}

.bad {
    color: orange;
    font-weight: bold
}

.good {
    color: green;
    font-weight: bold

}

/* .pageHeader {
    color: darkslategray;
    margin-bottom: 20px;
} */



